@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
}

nav {
  background: var(--grey-grey-300, #1a1a1a);
  padding: 1.2rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__flex--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7.517px;
  flex: 1 0 0;
}

.nav__flex--middle {
  display: flex;
  width: 45rem;
  height: 3.2rem;
  padding: 0.8rem;
  align-items: center;
  gap: 0.6rem;
  border-radius: 0.8rem;
  border: 0.15rem solid var(--stroke-s-200, #616161);
  background: var(--grey-g-200, #303030);

  & img {
    background-color: white;
    width: 3%;
    /* border: 1px solid red; */
  }
}

input {
  background: var(--grey-g-200, #303030);
  outline: 0;
  border: none;
  width: 100%;

  &::placeholder {
    font-size: 1.4rem;
  }

  &:focus {
    color: white;
  }
}

.nav__flex--right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;

  .bell-div {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.8rem;
    background: var(--grey-grey-200, #303030);
  }

  .dav-collections {
    display: flex;
    padding: 2px 2px 2px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--grey-grey-200, #303030);

    & p {
      color: var(--font-light, #e3e3e3);
      leading-trim: both;
      text-edge: cap;

      /* Text-12/medium */
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 15.6px */
    }

    .dc {
      display: flex;
      height: 28px;
      padding: 9px 5px 10px 5px;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background: #36fba1;
      text-transform: uppercase;
    }
  }
}































/* ---------------------------------------------------------------------------------------------------- MEDIA QUERY BEGINS HERE ------------------------------------------------------------------------------------------ */
/* For Tab Landscape (1200px) */
@media (max-width: 74.999em){

}
/* For Tab Portrait (992px) */
@media (max-width: 61.999em){

}
/* For Landscape phone (768px) */
@media (max-width: 47.999em){

}
/* For Phone (575px) */
@media (max-width: 35.999em){

}





