@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
}

nav {
  background: var(--grey-grey-300, #1a1a1a);
  padding: 1.2rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__flex--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7.517px;
  /* flex: 1 0 0; */
}

.nav__flex--middle {
  display: flex;
  width: 45rem;
  height: 3.2rem;
  padding: 0.8rem;
  align-items: center;
  gap: 0.6rem;
  border-radius: 0.8rem;
  border: 0.15rem solid var(--stroke-s-200, #616161);
  background: var(--grey-g-200, #303030);

  & img {
    background-color: white;
    width: 3%;
  }
}

input {
  background: var(--grey-g-200, #303030);
  outline: 0;
  border: none;
  width: 100%;
  color: white;

  &::placeholder {
    font-size: 1.4rem;
  }

  &:focus {
    color: white;
  }
}

.nav__flex--right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  /* flex: 1 0 0; */
  height: 100%;

  .bell-div {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.8rem;
    background: var(--grey-grey-200, #303030);
  }

  .dav-collections {
    display: flex;
    padding: 0.2rem 0.2rem 0.2rem 0.8rem;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.8rem;
    background: var(--grey-grey-200, #303030);

    & p {
      color: var(--font-light, #e3e3e3);
      leading-trim: both;
      text-edge: cap;

      /* Text-12/medium */
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 15.6px */
    }

    .dc {
      display: flex;
      height: 28px;
      padding: 9px 5px 10px 5px;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background: #36fba1;
      text-transform: uppercase;
    }
  }
}

/* --------------------------- MAIN STYLING STARTS HERE -------------------------------- */
.select-a-plan {
  display: flex;
  width: 80rem;
  /* width: 60%; */
  /* margin: auto; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3.2rem;
  padding: 1.2rem 0.8rem 1.2rem 1.6rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  background: var(--grey-grey-300, #1a1a1a);

  & p {
    color: var(--font-light, #e3e3e3);

    /* Text-13/medium *
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
  }

  .select-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }

  & button {
    display: flex;
    padding: 0.6rem 1.2rem;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    background: var(--White, #fff);
    box-shadow: 0rem -0.1rem 0rem 0rem #b5b5b5 inset;
  }
}

.setup-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: 50%;
  width: 80rem;
  transform: translateX(-50%);
  margin-top: 1.6rem;
  border: 0.1rem solid black;

  .setup-div-flex {
    display: flex;
    padding: 0.8rem;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border: 0.1rem solid red;
  }

  .setup-div-flex-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;

    & h6 {
      color: var(--font-dark, var(--grey-g-200, #303030));

      /* Text-14/semi bold */
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 19.6px */
    }

    & p {
      color: var(--font-dark, var(--grey-g-200, #303030));

      /* Text-13/regular */
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 18.2px */
    }

    & label {
      color: var(--font-dark, var(--grey-g-200, #303030));

      /* Text-12/regular */
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 15.6px */
      /* border: 1px solid red; */
    }

    .setup-progress-bar{
      width: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & progress{
        width: 50%;
        -webkit-appearance: none;

        &::-webkit-progress-value {
          background-color: #1A1A1A;
          border-radius: .5rem;
        }

        &::-webkit-progress-bar {
          background: #E3E3E3;
          border-radius: .5rem;
        }
      }
    }
  }

  .setup-div-flex-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}
/* ---------------------------------------------------------------------------------------------------- MEDIA QUERY BEGINS HERE ------------------------------------------------------------------------------------------ */
/* For Big Desktops (1400px) */
@media (min-width: 87.999em) {
}
/* For Tab Landscape (1200px) */
@media (max-width: 74.999em) {
}
/* For Tab Portrait (992px) */
@media (max-width: 61.999em) {
  /* .nav__flex--middle {
    width: 35rem;
  } */
}
/* For Landscape phone (768px) */
@media (max-width: 47.999em) {
}
/* For Phone (575px) */
@media (max-width: 35.999em) {
}
