@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  outline: none;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: 'Inter', sans-serif;
  background: var(--Background, #f1f1f1);
}

html {
  font-size: 62.5%;
}

nav {
  background: var(--grey-grey-300, #1a1a1a);
  padding: 1.2rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__flex--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7.517px;
}

.nav__flex--middle {
  position: relative;
}

input {
  display: flex;
  width: 48rem;
  height: 3.2rem;
  padding: 0.8rem;
  align-items: center;
  gap: 0.6rem;
  border-radius: 0.8rem;
  border: 0.15rem solid var(--stroke-s-200, #616161);
  background: var(--grey-g-200, #303030);
  outline: none;
  transition: all 0.3s ease-in-out;

  padding-left: 3.5rem;

  &::placeholder {
    color: var(--grey-g-100, #b5b5b5);
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  &:active {
    border: 0.2rem solid var(--White, #fff);
    background: var(--grey-g-200, #303030);
  }

  &:hover {
    border: 0.1rem solid var(--stroke-s-100, #e1e1e1);
    background: var(--grey-g-200, #303030);
  }

  &:focus {
    color: white;
    border: 0.2rem solid var(--White, #fff);
    background: var(--grey-g-200, #303030);
  }
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.nav__flex--right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  height: 100%;

  .bell-div {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.8rem;
    background: var(--grey-grey-200, #303030);
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;

    &:hover {
      background: var(--font-mid-2, #616161);
    }

    &:active {
      background: var(--grey-grey-50, #656266);
    }

    &:focus {
      background: var(--grey-grey-50, #656266);
      box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
    }
  }

  .dav-collections {
    display: flex;
    padding: 0.2rem 0.2rem 0.2rem 0.8rem;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.8rem;
    background: var(--grey-grey-200, #303030);
    transition: all 0.2s ease-in-out;
    border: none;

    &:hover {
      background: var(--font-mid-2, #616161);
    }

    &:active {
      background: var(--grey-grey-50, #656266);
    }

    &:focus {
      background: var(--grey-grey-50, #656266);
      box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
    }

    & p {
      color: var(--font-light, #e3e3e3);
      leading-trim: both;
      text-edge: cap;

      /* Text-12/medium */
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 15.6px */
    }

    .dc {
      display: flex;
      height: 28px;
      padding: 9px 5px 10px 5px;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background: #36fba1;
      text-transform: uppercase;
    }
  }
}

/* --------------------------- MAIN STYLING STARTS HERE -------------------------------- */
.select-a-plan {
  display: flex;
  width: 80rem;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3.2rem;
  padding: 1.2rem 0.8rem 1.2rem 1.6rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  background: var(--grey-grey-300, #1a1a1a);

  & p {
    color: var(--font-light, #e3e3e3);

    /* Text-13/medium *
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
  }

  .select-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }

  .select-link:link,
  .select-link:visited {
    text-decoration: none;
    display: flex;
    padding: 0.6rem 1.2rem;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    background: var(--White, #fff);
    box-shadow: 0rem -0.1rem 0rem 0rem #b5b5b5 inset;
    transition: all 0.2s ease-in-out;
    color: var(--font-dark, #323232);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }

  .select-link:hover {
    border-radius: 0.6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    background: #f7f7f7;
    box-shadow: 0rem -0.1rem 0rem 0rem #b5b5b5 inset;
  }

  .select-link:active {
    border-radius: 0.6rem;
    background: #f7f7f7;
    box-shadow: 0rem 0.2rem 1.5rem 0rem #e2e2e2 inset;
  }

  .select-link:focus {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--White, #fff);
    box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #fff,
      0px -1px 0px 0px #b5b5b5 inset;
  }
}

.setup-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: 50%;
  width: 80rem;
  transform: translateX(-50%);
  margin-top: 1.6rem;
  border-radius: 1.8rem;
  border: 0.1rem solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0rem 0.1rem 0rem 0rem rgba(0, 0, 0, 0.05);

  .setup-div-flex {
    /* border: 1px solid red; */
    display: flex;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  .setup-div-flex-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;

    & h6 {
      color: var(--font-dark, var(--grey-g-200, #303030));

      /* Text-14/semi bold */
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 19.6px */
    }

    & p {
      color: var(--font-dark, var(--grey-g-200, #303030));

      /* Text-13/regular */
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 18.2px */
    }

    & label {
      color: var(--font-dark, var(--grey-g-200, #303030));

      /* Text-12/regular */
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 15.6px */
    }

    .setup-progress-bar {
      width: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & progress {
        width: 50%;
        -webkit-appearance: none;

        &::-webkit-progress-value {
          background-color: #1a1a1a;
          border-radius: 0.5rem;
        }

        &::-webkit-progress-bar {
          background: #e3e3e3;
          border-radius: 0.5rem;
        }
      }
    }
  }

  /* .setup-div-flex-right {
    border: 1px solid red;
    display: flex;
    justify-content: ;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  } */
}

.setup-content-flex {
  /* border: 1px solid black; */
  padding: 1.6rem 0.8rem 1rem 0.8rem;
  width: 100%;

  .setup-flex {
    /* border: 1px solid blue; */
    border-radius: 10px;
    padding-bottom: 1rem;

    .setup-flex-top {
      /* border: 1px solid red; */
      display: flex;
      padding: 0.8rem;
      align-items: center;
      gap: 0.6rem;
      align-self: stretch;
      cursor: pointer;

      & h6 {
        color: var(--font-dark, var(--grey-g-200, #303030));
        font-family: Inter;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
      }

      .hover-effect circle {
        transition: stroke-dasharray 9s ease-in-out;
      }

      .hover-effect:hover circle {
        stroke-dasharray: none;
      }
    }

    .setup-flex-bottom {
      /* display: flex; */
      padding: 0rem 0.8rem 0rem 0.8rem;
      gap: 9.6rem;
      /* border: 1px solid red; */

      .setup-bottom-left {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        /* border: 1px solid red; */
        flex-basis: 60%;

        .setup-button-flex {
          display: flex;
          gap: 1.6rem;

          .button-1 {
            display: flex;
            padding: 0.6rem 1.2rem;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;
            border-radius: 0.6rem;
            border-top: 0.15rem solid
              var(--stroke-light-100, rgba(255, 255, 255, 0.2));
            border-right: 0.15rem solid
              var(--stroke-light-100, rgba(255, 255, 255, 0.2));
            border-left: 0.15rem solid
              var(--stroke-light-100, rgba(255, 255, 255, 0.2));
            background: #404040;
            box-shadow: 0rem 0rem 0rem 0.15rem #333,
              0rem 0.1rem 0rem 0.15rem #333, 0rem 0.2rem 0rem 0rem #000;
            width: 30%;
            color: var(--font-light, #f6f3f6);
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            margin-left: 3.2rem;

            &:hover {
              background: #2a2a2a;
            }

            &:focus {
              background: #404040;
              box-shadow: 0px 0px 0px 5px #005bd3, 0px 0px 0px 3px #fff,
                0px 0px 0px 1.5px #333;
            }

            &:active {
              background: #2b2b2b;
              box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
            }
          }

          .button-2 {
            display: flex;
            padding: 0.6rem 1.2rem;
            align-items: center;
            gap: 0.8rem;
            border-radius: 0.6rem;
            color: var(--font-dark, #323232);
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            border: none;

            &:hover {
              background: #e7e7e7;
            }
            
            &:focus {
              border: 2px solid var(--states-focused, #005bd3);
              background: #fff;
            }

            &:active {
              background: #e0e0e0;
            }
          }
        }
      }

      & p {
        color: var(--font-mid-2, #616161);
        font-family: Inter;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        padding-left: 3.2rem;
      }

      & span {
        color: var(--states-focused, #005bd3);
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
      }

      & img {
        position: relative;
        top: -3rem;
        width: 100%;
      }
    }
  }
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.visible-flex {
  display: flex;
}

.active {
  background: #f3f3f3;
}

/* ---------------------------------------------------------------------------------------------------- MEDIA QUERY BEGINS HERE ------------------------------------------------------------------------------------------ */
/* For Big Desktops (1400px) */
@media (min-width: 87.999em) {
}
/* For Tab Landscape (1200px) */
@media (max-width: 74.999em) {
}
/* For Tab Portrait (992px) */
@media (max-width: 61.999em) {
  /* .nav__flex--middle {
    width: 35rem;
  } */
}
/* For Landscape phone (768px) */
@media (max-width: 47.999em) {
}
/* For Phone (575px) */
@media (max-width: 35.999em) {
}
